.books_section_content {
  width: 250px;
  background-color: white;
  border: 1px solid #EBEBF1;
  border-radius: 15px;
  margin: 50px 20px 0 0;
  cursor: pointer;
  img {
    padding-top: 10px;

  }
  p {
    font-size: 20px;
    margin-bottom: 5px;
  }
}
.books_section_content:hover {
  transform: scale(1.2);
}
